spring:
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://springaws.csne7kbcpzzg.ap-northeast-2.rds.amazonaws.com:3306/spring_rds
#    username: chang123
#    password: chang123

  jpa:
    show_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
        storage_engine: innodb

  profiles:
    include:
      - oauth

  session:
    store-type: jdbc
    jdbc.initialize-schema: always

  h2:
    console:
      enabled: true

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: test
#            client-secret: test
#            scope: profile, email

#logging.level:
#  org.hibernate.SQL: debug
#  org.hibernate.type: trace